/*  your css code here. If applicable */

.pricing-card{
    height: 500px;
    width: 300px;
    background: rgb(232, 232, 66);
    box-shadow: 0 4px 3px 4px rgb(220, 220, 143);
/*     margin-left: 450px; */
}
.image{
    height: 200px;
    width: 190px;
     margin-top: 30px;
}
.content{
    text-align: center;
    
}
.desc{
    font-size: 25px;
}
.button{
    background-color: rgb(249, 159, 2);
    font-size: 22px;
    color: white;
    border-radius: 9px;
    padding: 5px;
    /* width: 200px;
    height: 30px; */
    border: 0px;
}